<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>
  <!-- Main Nav Bar -->
  <div class="mainNavBar">
    <%- include ../partials/navbars/main_nav %>
  </div>

  <!-- Main Body -->
  <div id="body" class="mainBody">

    <!-- Main Carousel Slides -->
    <%- include ../partials/carousel/main_carousel %>

    <!-- Card Menus -->
    <%- include ../partials/body/card_menus %>

    <!-- Request Information -->
    <%- include ../partials/body/request_info %>

  </div>

  <!-- Footer -->
  <div class="mainFooter">
    <%- include ../partials/footer/main_footer %>
  </div>

</body>
</html>
