<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>
  <!-- Main Nav Bar -->
  <div class="mainNavBar">
    <%- include ../partials/navbars/main_nav %>
  </div>

  <!-- Main Body -->
  <div id="body" class="mainBody">

    <!-- breadcrumb -->
    <div id="breadcrumb" class="ui breadcrumb">
      <a class="section" href="/">Home</a>
      <div class="divider"> / </div>
      <div class="active section">Why Outstanding</div>
    </div>

    <div>
      <img id="title_image" src="images/why/why.jpg" alt="">
    </div>

    <!-- Why page content -->
    <div id="why">

      <!-- Why page partial -->
      <%- include ../partials/why/why %>

    </div>



    <!-- Request Information -->
    <%- include ../partials/body/request_info %>
  </div>

  <!-- Fotter -->
  <div class="mainFooter">
    <%- include ../partials/footer/main_footer %>
  </div>

</body>
</html>
